*{
    box-sizing: border-box;
  
}
.mt-2{
    font-family: 'Libre Baskerville', serif;

}
.header-style {
    font-size: 50px;
    color: #ffffff;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    width: 100%;
    padding: 10px 20px 10px 20px;
    background-color: cadetblue;
  }




.input-group {
    margin-bottom: 15px;
  }
 
  .card {
    width:100%;
  }
  .fiveDay{    
    background-color: royalblue;
    margin: 15px;
  }
  p {
    font-family: 'Libre Baskerville', serif;

  }
  h3 {
    float:left;
  }

h4{
  font-family: 'Libre Baskerville', serif;

}

.input-group{
    font-family: 'Libre Baskerville', serif;

  }

  .list-group{
    font-family: 'Libre Baskerville', serif;

  }
  .card-body{
    font-family: 'Libre Baskerville', serif;
  }
